.App {
  text-align: center;
}

.profileImg {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin-top: auto 0;
  border: 1px solid black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.banner, .profile-banner {
  width: 100vw;
  height: 20em;
  border: 1px solid black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bio-form{
  margin-bottom: 50em;
}
